@keyframes load-in {
    from {transform: scale(2);}
    to {transform: scale(1);}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes home-link-hover {
    from {background-color: none; border-color: #FFF;}
    to {background-color: #7B6E9E; border-color: #7B6E9E;}
}

@keyframes nav-link-hover {
    from {text-shadow: none;}
    to {text-shadow: 0 0 5px #FFF;}
}

body {
    background-color: #19181B;
    color: #FFF;
}

h1 {
    font-size: 50pt;
}

a:link, a:visited {
    color: #7B6E9E;
}

.message-box {
    width: 70%;
    border: #FFF 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #231F2C;
}

.unread-message {
    background-color: #453E59 !important;
}

.message-header {
    border-bottom: #FFF 1px solid;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.message_content {
    padding: 20px;
}

#wrapper {
    margin: auto;
    margin-top: 100px;
    width: 70%;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

#home-wrapper {
    margin-top: 100px;
}

#home-wrapper a:link, #home-wrapper a:visited {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border: #FFF solid 1px;
    border-radius: 5px;
    font-size: x-large;
}

#home-wrapper a:hover {
    animation-name: home-link-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#navbar {
    background-color: #453E59;
    animation-name: load-in;
    animation-duration: 0.5s;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
}

#nav-menu {
    width: 70%;
    margin: auto;
}

#nav-menu a:link, #nav-menu a:visited {
    font-size: x-large;
    padding: 10px;
    text-decoration: none;
    color: #FFF;
}

#nav-menu a:hover {
    animation-name: nav-link-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#current-page {
    border-bottom: #7B6E9E 1px solid;
}

#login-box, #settings-box {
    background-color: #231F2C;
    padding: 50px;
    width: 30%;
    height: fit-content;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#unread-notif {
    background-color: red;
    width: 5px;
    height: 5px;
    padding: 2px;
    border: #FFF 1px solid;
    border-radius: 3px;
    text-decoration: none !important;
    color: #FFF;
}

#login-box h1 {
    font-size: 30pt;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: #453E59 1px solid;
}

#footer-content {
    width: 70%;
    padding: 10px;
    margin: auto;
}

textarea {
    width: 50%;
    height: 400px;
    resize: none;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th, td {
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #453E59;
    border-color: #453E59;
}

tr:nth-child(even) {
    background-color: #231F2C;
    border-color: #231F2C;
}