{% extends "layout.html" %}
{% block title %}404{% endblock %}
{% block content %}
<h1>404 - Not Found</h1>
<h2>Well, this is embarrassing</h2>
<p>Looks like the page you were trying to access does not exist.</p>
<p>You probably typed the address wrong or tried to access a page you do not have permission to access.</p>
<h2>Was this not supposed to happen?</h2>
<p>You should create an <a href="https://github.com/Veloxization/activity-calendar/issues">issue on GitHub</a> about it.</p>
{% endblock %}