{% extends "layout.html" %}
{% block title %}500{% endblock %}
{% block content %}
<h1>500 - Internal Server Error</h1>
<code>{{ error }}</code>
<h2>Looks like something broke!</h2>
<p>If you're seeing this page, something went terribly wrong.</p>
<p>If you feel like this was not supposed to happen, you should create a new <a href="https://github.com/Veloxization/activity-calendar/issues">issue on GitHub</a> with a description of what you were doing before seeing this error.</p>
<p>Apologies for the inconvenience!</p>
{% endblock %}