{% extends "layout.html" %}
{% block title %}Activities{% endblock %}
{% block content %}
<h1>Activities</h1>
{% if active %}
<p>{{ active.activity }} - Started at {{ user_activity.start_time }}</p>
{% endif %}
{% if activity_count < 1 %}
<p>There are no activities here at this moment. :(</p>
<p>You should <a href="/activities/create">create some</a>!</p>
{% else %}
<table>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Activity control</th>
        <th>Activity settings</th>
    </tr>
    {% for activity in activities %}
    <tr>
        <td><b>{{ activity.activity }}</b></td>
        <td>
            {% if activity.is_approved %}
            <p style="color:green">Official Activity</p>
            {% else %}
            <p style="color:orange">Pending approval</p>
            {% endif %}
        </td>
        <td>
            {% if active %}
            {% if active.id == activity.id %}
            <a href="/activities/stop?activity={{ activity.id }}">Stop this activity</a>
            {% else %}
            <a href="/activities/stop?activity={{ active.id }}&start={{ activity.id }}">Stop current and start this activity</a>
            {% endif %}
            {% else %}
            <a href="/activities/start?activity={{ activity.id }}">Start this activity</a>
            {% endif %}
        </td>
        {% if user.is_admin or user.id == activity.creator_id %}
        <td>
            <a href="/activities/manage?activity={{ activity.id }}">Manage activity</a>
            {% if not activity.is_approved and user.is_admin %}
            <br/><a href="/activities/approve?activity={{ activity.id }}">Approve activity</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<hr/>
<a href="/activities/create">Create a new activity</a>
{% endif %}
{% endblock %}