{% extends "loginlayout.html" %}
{% block title %}Create New Group{% endblock %}
{% block box %}
<h1>Create a new group</h1>
{% if error %}
<p style="color:red">{{ error }}!</p>
{% endif %}
<p>You're almost done! Type a desired group name below to get started.</p>
<form action="/group/create/post" method="POST">
    <p title="The name must be between 3 and 100 characters long">Group name<br/>
    <input type="text" name="group-name"></p>
    <input type="submit" value="Create Group">
</form>
{% endblock %}