<!DOCTYPE html>
<html>
    <head>
        <title>Activity Calendar - {% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div id="navbar">
            <div id="nav-menu">
                <a href="/" class="nav">Home</a>
                {% if session.username %}
                <a href="/activities" class="nav">Activites</a>
                <a href="/inbox" class="nav">Inbox</a>
                <a href="/group" class="nav">Group</a>
                <a href="/logout" class="nav">Log Out</a>
                <a href="/profile" class="nav">{{ session.username }}</a>
                {% else %}
                <a href="/login" class="nav">Log In</a>
                <a href="/signup" class="nav">Sign Up</a>
                {% endif %}
            </div>
        </div>
        <div id="wrapper">
            <noscript><p style="color: red;">This website requires JavaScript to operate correctly.</p></noscript>
            {% block content %} {% endblock %}
        </div>
        <div id="footer">
            <div id="footer-content">
                <span class="footer-element">2022 Veloxization</span>
                <span class="footer-element"><a href="https://github.com/Veloxization/activity-calendar">Source Code</a></span>
            </div>
        </div>
        <script src="/scripts/dynamicnavbar.js"></script>
    </body>
</html>