{% extends "loginlayout.html" %}
{% block title %}Log In{% endblock %}
{% block box %}
<h1>Log into your Activity Calendar</h1>
{% if error %}
<p style="color:red">Incorrect username or password!</p>
{% endif %}
<form action="/login/post" method="POST">
    <p>Username<br/>
    <input type="text" name="username"></p>
    <p>Password<br/>
    <input type="password" name="password"></p>
    <input type="submit" value="Log In">
</form>
<p>No account? <a href="/signup">Sign Up!</a></p>
{% endblock %}