{% extends "layout.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
<h1>{{ user.username }}'s profile</h1>
{% if user.username == session.username %}
<h2><a href="/profile/settings">Settings</a></h2>
{% endif %}
<h2>Ongoing Activity</h2>
{% if current_activity %}
<p><b>{{ current_activity.activity }}</b></p>
{% else %}
<p>No ongoing activity</p>
{% endif %}
<h2>Activity History</h2>
<table>
    <tr>
        <th>Activity name</th>
        <th>Start time</th>
        <th>End time</th>
    </tr>
    {% for user_activity in user_activities %}
    <tr>
        <td>{{ user_activity.activity }}</td>
        <td>{{ user_activity.start_time }}</td>
        <td>{{ user_activity.end_time }}</td>
    </tr>
    {% endfor %}
</table>
{% if client_user.is_admin and deleted_activities %}
<h2>Deleted Activity History</h2>
<table>
    <tr>
        <th>Start time</th>
        <th>End time</th>
    </tr>
    {% for deleted_activity in deleted_activities %}
    <tr>
        <td>{{ deleted_activity.start_time }}</td>
        <td>{{ deleted_activity.end_time }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}