{% extends "layout.html" %}
{% block title %}{{ thread.title }}{% endblock %}
{% block content %}
<h1>{{ thread.title }}</h1>
{% for message in messages %}
<div class="message-box"{% if not message.message_read %} id="unread-message"{% endif %}>
    <div class="message-header">
        <p>{% if user.id == message.recipient_id %}
        From: <a href="/profile?username={{ message.sender_name }}">{{ message.sender_name }}</a>
        {% else %}
        To: <a href="/profile?username={{ message.sender_name }}">{{ message.recipient_name }}</a>
        {% endif %}
        <br/>At: {{ message.time_sent }}</p>
    </div>
    <div class="message-content">
        <p style="margin: 15px;">{{ message.message }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}